<!-- views/partials/head.ejs -->

<meta charset="utf-8" />

<title>Wow, Amazing!</title>

<!-- The Site's Style Sheet -->
<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
