<h1><%= data.pageTitle %></h1>

<ul>
<% data.properties.forEach(function(property, index){ %>
    <li><%= property.ownerName %></li>
<% }); %>
</ul>
<%= %>
<script>
  console.log('hello')

</script>


<% var name ="hello";  %>
<%= name  %>
